* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  position: relative;
}
.container-fluid img {
  height: 2.5rem;
}
.navbar-brand {
  font-size: 1.1rem !important;
}
.LoderComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  background-color: #262626;
  color: white;
}
.LoderComponent h1 {
  font-size: 1.5rem;
}
.navbar {
  background-color: rgb(15, 15, 15) !important;
}
.desctopItems {
  color: white !important;
}
.desctopItems.active {
  color: rgb(26, 66, 241) !important;
}
.desctopItems:hover {
  text-shadow: 0 0 0.5rem #fff;
}
.navbar-brand {
  color: white !important;
}
/* /////////keyframes for animation////////// */

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ////////////////////////////////// */
.slide-out {
  animation: slideLeft 3s ease-out;
}

.slideRight {
  animation: slideRight 3s ease-out;
}

.desctopmenu {
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.homeDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91.8vh;
  width: 100%;
  background-image: url("./assets/Images/tulasipics3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
}
.innerdiv {
  padding: 1rem;
  background-color: rgba(8, 8, 8, 0.6);
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.typing-container {
  height: 30%;
  width: 55%;
  color: white;
}

.typing-line {
  display: block;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid transparent;
  animation: typing 4s steps(40, end) forwards;
  font-size: 2.5rem;
}
.typing-line:last-child {
  animation: typing 4s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
}

/* ////////////////////////////// */

.socialmedia {
  animation: slideTop 12s ease forwards;
  display: flex;
  margin-top: 1rem;
  margin-left: -1.2rem;
}
.socialmedia a {
  font-size: 2.5rem;
  margin-left: 0.5rem;
}
.downloadbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  color: white;
  border: none;
  font-size: 1rem !important;
  height: 3rem;
  padding: 0rem 0.5rem;
}

/* //////////////////About /////////////////////// */
.aboutDiv {
  height: 91.8vh;
  background-color: #1b1b1b !important;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.8rem;
  overflow: hidden;
}
.pageHeadding {
  color: rgb(235, 201, 157);
  font-size: 2.5rem;
  font-weight: bold;
}
.aboutDiv p {
  font-size: 1.5rem;
  font-family: monospace;
}
.aboutDiv p span {
  color: rgb(235, 201, 157);
  font-size: 2rem;
  font-weight: bold;
}
.aboutContent {
  margin: 0rem 1rem;
}

/* ................Skills ................ */
.skills {
  height: 91.8vh;
  width: 100%;
  max-height: auto;
  background-color: #1b1b1b !important;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.8rem;
}
.navbarhead {
  width: 100%;
}
.paperSkills {
  width: 60%;
  height: 60vh;
  border-radius: 1rem !important;
  background-color: #1b1b1b !important;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.6) !important;
}
.skillsPara {
  color: chocolate;
  font-size: 1.2rem;
}
.Skillsset {
  display: flex !important;
  flex-direction: row !important;
  background-color: #111111;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  margin: 0.1rem 0 0 0;
  padding: 0 0.5rem;
  height: 7vh;
}
.Skillsset li {
  margin-left: 1rem;
  padding: 0.2rem;
  list-style: none;
}

.skillheadActive {
  background-color: rgb(26, 66, 241) !important;
  color: white !important;
  height: 1.5rem !important;
  font-size: 0.8rem !important;
}
.skillhead {
  color: #fff !important;
  height: 1.5rem !important;
  font-size: 0.8rem !important;
}
.skillsImage {
  height: 15vh;
  border-radius: 2rem;
}
.SkillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}
.skillsImageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5rem;
  height: 8em;
  width: 8em;
}
/* ..............Contact................ */
.contactDiv {
  overflow: hidden;
  height: 91.8vh;
  width: 100%;
  max-height: auto;
  background-color: #1b1b1b !important;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.8rem;
}
.contactText {
  color: rgb(243, 176, 88);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  padding: 0 10rem;
}
.profilepics {
  height: 60vh;
  border-radius: 1rem;
}

.formDivContact {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form {
  padding: 0;
  border-radius: 1rem;
  width: 25rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b !important;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.6) !important;
  gap: 1rem;
}
.form Input {
  color: white !important;
  border-bottom: 1px solid #fff !important;
  outline: none !important;
}
.Divider {
  border: 1px solid white;
}
.footerContact {
  display: flex;
  flex-direction: row;
}
.footerContact div {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 12vh;
  overflow-wrap: break-word;
}
/* //
//
///
///
/// */

/* Small screens */
@media (max-width: 600px) {
  .homeDiv {
    overflow: hidden;
  }
  .typing-line {
    font-size: 1rem;
  }
  .typing-container {
    width: 85%;
  }
  .socialmedia a {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .socialmedia {
    margin-top: 0rem;
  }
  .downloadbtn {
    font-size: 0.5rem !important;
    height: 1rem;
    padding: 0rem 0.5rem;
    size: small !important;
  }
  .LoderComponent h1 {
    font-size: 0.8rem;
  }
  .pageHeadding {
    font-size: 1.6rem;
  }
  .aboutDiv p {
    font-size: 0.85rem;
  }
  .aboutDiv p span {
    font-size: 1.5rem;
    text-align: center;
  }
  .skillsPara {
    font-size: 0.8rem;
    text-align: center;
  }
  .skillsImage {
    height: 5vh;
  }
  .SkillsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .skillsImageDiv {
    border-radius: 5rem;
    height: 3rem;
    width: 3rem;
  }
  .Skillsset li {
    margin-left: 0rem;
    padding: 0rem;
  }
  .skillheadActive {
    padding: 0.5rem;
    height: 1.2rem !important;
    font-size: 0.4rem !important;
  }
  .skillhead {
    height: 1rem !important;
    font-size: 0.4rem !important;
  }
  .paperSkills {
    width: 85%;
    height: 70vh;
  }
  .Skillsset {
    border-radius: 0.6rem 0.6rem 0.3rem 0.3rem;
  }
  .contactText {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
  .profilepics {
    height: 40vh;
    border-radius: 1rem;
  }
  .formDivContact {
    flex-direction: column;
  }
  .form {
    margin-top: 1rem;
    width: auto;
    height: 40vh;
  }
  .contactDiv {
    height: auto;
    overflow: hidden;
  }

  .footerContact div {
    margin-left: 0.5rem;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    width: 5.5rem;
    height: 13vh;
    overflow-wrap: break-word;
  }
}

/* Medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .homeDiv {
    overflow: hidden;
  }
  .typing-line {
    font-size: 1.5rem;
  }
  .typing-container {
    width: 70%;
  }
  .socialmedia a {
    font-size: 1.8rem;
  }
  .downloadbtn {
    font-size: 0.8rem !important;
    height: 2.2rem;
    padding: 0rem 0.5rem;
  }
  .LoderComponent h1 {
    font-size: 1rem;
  }
  .pageHeadding {
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .aboutDiv p {
    font-size: 1.5rem;
  }
  .aboutDiv p span {
    font-size: 2.2rem;
  }
  .aboutDiv p {
    font-size: 1.15rem;
  }
  .skillsPara {
    font-size: 1.2rem;
    text-align: center;
  }
  .skillsImage {
    height: 11vh;
  }
  .skillsImageDiv {
    border-radius: 5rem;
    height: 6rem;
    width: 6rem;
  }
  .SkillsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .Skillsset li {
    margin-left: 0rem;
    padding: 0rem;
  }
  .paperSkills {
    width: 75%;
    height: 65vh;
  }
  .Skillsset {
    height: 6vh;
    border-radius: 0.6rem 0.6rem 0.3rem 0.3rem;
  }
  .contactText {
    font-size: 1rem;
    padding: 0 2rem;
  }
  .profilepics {
    height: 45vh;
  }
  .form {
    height: 45vh;
    width: 15rem;
    margin-left: 0.5rem;
  }
  .footerContact div {
    margin-left: 0.5rem;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    width: 5.5rem;
    height: 13vh;
    overflow-wrap: break-word;
  }
}
/* Large screens */

@media (min-width: 1025px) {
  .typing-line {
    font-size: 2.5rem;
  }
  .socialmedia a {
    font-size: 2rem;
  }
  .downloadbtn {
    font-size: 0.8rem !important;
    height: 2.5rem;
    padding: 0rem 0.5rem;
  }
  .aboutContent {
    margin: 0rem 5rem;
  }
}
